
QuanLyBanGiay/.vs/QuanLyBanGiay/v17/.suo
QuanLyBanGiay/BLL/obj/Debug/BLL.csproj.AssemblyReference.cache
QuanLyBanGiay/.vs/QuanLyBanGiay/v17/DocumentLayout.backup.json
*.json
*.cache
QuanLyBanGiay/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache

/QuanLyBanGiay/DTO/db_QuanLyBanGiay.dbml
/QuanLyBanGiay/DTO/db_QuanLyBanGiay.dbml.layout
/QuanLyBanGiay/DTO/db_QuanLyBanGiay.designer.cs
